.LoginInput{
    // display: block;
    // width: 100%;
    margin-bottom: 5%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius:5px;
}

.LoginButton{
    width: 150px;
    background-color: #54BF36;
}

// .LoginDiv {
//   position: relative;
//   margin-top: 13%;
//   left: 13%;
//   width: calc(23% - 10px);
//   padding: 24px;
//   border: 1px solid #ffffff;
//   border-radius: 8px;
//   background-color: #ff0000;
// }


.LoginDiv {
  width: 23%;
  padding: 24px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
}

.LoginWrapper {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 29%; // dorong ke bawah
  padding-right: 150px; // dorong ke bawah
  background-color: #ffffff;
}

.headercustome{
  position: absolute;
  left: 50%;
  top: 5%;

}

.LoginImage{
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  object-fit: cover;

}